/* Stile generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Sezioni */
section {
    padding: 60px 0;
}

/* Titoli */
h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

/* Immagini */
img {
    max-width: 100%;
    border-radius: 10px;
}

/* Plan */
#plan .col-md-3 {
    padding: 20px;
    background: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Team */
#team .col-md-4 {
    padding: 20px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 10px;
}

/* Review */
#review .col-md-4 {
    padding: 20px;
    background: #e9ecef;
    margin: 10px;
    border-radius: 10px;
}

/* Contact */
#contact .col-md-6 {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.primarycolorbg{
    background-color: #e7772b;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #e7772b;
    padding: 0 10%;
}
.welcome-image img {
    width: 100%;
    height: auto;
    border-radius: 0 35px 35px 0;
}
.welcome-text {
    padding: 20px;
    text-align: left;
}
.welcome-text h1 {
    font-size: 3rem;
    font-weight: bold;
}
.welcome-text p {
    font-size: 1.2rem;
}

.btn-learn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.about-section {
    height: 100vh;
    padding: 10% 10%;
}

.services-section {
    height: 65vh;
    padding: 10% 10%;
}

.plan-section {
    height: 80vh;
    padding: 10% 10%;
}

.team-section {
    height: 80vh;
    padding: 10% 10%;
}

.gallery-section {
    height: 100vh;
    padding: 10% 10%;
}

.review-section {
    height: 40vh;
    padding: 10% 10%;
}

.card ul {
    text-align: left;
}

/* Plan */
#plan .col-md-3 {
    padding: 20px;
    background: #fff;
    margin: 10px 0; /* Adjusted margin */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}